body{
    margin: 0;
    padding: 0 0px;
    font-family: 'Open Sans', 'Sans Serif';
    color: hsl(192, 100%, 9%);
}

nav {
    height: 100px;
    padding:55px 80px ;
    padding-bottom: 0px;
    background-color: transparent;
}

.btn {
	box-shadow: 0px 0px 17px -5px rgba(0,0,0,0.7);
	background-color:#ffffff;
	border-radius:42px;
	cursor:pointer;
	color:#081a1e;
	font-family:'Open Sans', 'Sans Serif';
	font-size:18px;
	font-weight:bold;
	padding:14px 65px;
	text-decoration:none;
}

nav .logo {
    flex-basis: 10%;
    height: 30px;

}

.nav-btn {
    float: right;
    box-shadow: none;
    border-style: solid;
    border-width: 1px;
    color: #FE52C0;
    font-size:15px;
    padding:10px 40px;
	font-weight:normal;
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 60px;
    text-align: center;
    z-index: -1;
}

.right-pane {
    padding: 10px;
    flex-basis: 50%;
}

.left-pane {
    margin-top: 70px;
    padding: 10px;
    flex-basis: 50%;
}

.hero-img {
    padding: 65px;
}

.stats {
    margin: 0 auto;
    display: flex;
    padding:0 80px;
    text-align: left;
    justify-content: space-around;
    background-image: url('images/bg-section-top-desktop-1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 100%;
    padding-bottom: 260px;
}

.com {
}

.stats h1 {
    padding: 0;
    margin: 1.2px;
    font-size: 5.5rem;
    font-family: 'Open Sans', 'Sans Serif';
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
    float: left;
}

h1 {
    font-size: 2.6rem;
    padding: 20px;
    font-family: 'Poppins';
    font-weight: 600;
}

.subtitle {
    width: 45%;
    text-justify: auto;
    margin: auto;
    font-size: 1.1rem;
}

.center {
    text-align: center;
    font-size: 1.3rem;
    color: rgba(0,0,0,0.5);
}

.stats img {
    position: relative;
    top: 4px;
}




.hero-btn {
    display: inline-block;
    margin-top: 50px;
    background-color: #FE52C0;
    color: white;
    padding: 22px 85px;
}


.row {
    margin: 0px auto;
    padding:50px 0px;
}

.card {
    margin: 0 0px;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colored {
    background-color: hsl(207, 100%, 98%);
}

 p {
    width: 400px;
    font-weight: 400;
    color: hsla(192, 100%, 9%,0.7);
}

.left {
    flex-basis: 50%;
}

.right {
    
}

h2 {
    font-family: 'Poppins', 'Sans Serif';
    font-weight: 700;
    font-size: 2rem;
}

.img {
    width: 400px;
    height: auto;
}

.left img {
    position: relative;
    right: 100px;
}

.cta{
    text-align: center;
    padding:30px 45px;
    margin: auto;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 50px;
}
.cta h2 {
    margin-bottom: 50px;
    font-size: 2rem;
}

.cta-btn {
    background-color: #FE52C0;
    color: white;
    padding: 22px 65px;
    display: inline-block;
}

footer {
    background-color: hsl(192, 100%, 9%);
    padding: 100px;
    color: white;
}

footer .logo {
    filter: brightness(0) invert(1);
}

footer .row {
    display: flex;
    justify-content: space-between;
    padding: 35px 0px;
}

.contact {
}

.links-1 {
}

.links-2 {
    flex-basis: 25%;
}

.social-links{
    font-size: 2.5rem;
}
.fas {
    padding: 15px;
}

footer p {
    color: white;
}

.link {
        float: right;
    display:block;
    background-color:transparent;
	border-radius:100px;
	border:1.5px solid #dcdcdc;
	cursor:pointer;
	color:white;
	font-size:15px;
	font-weight:bold;
    height: 40px;
    width: 40px;
    margin: 10px;
    text-align: center;
	text-decoration:none;
}

.links-1 a , .links-2 a{
    text-decoration: none;
    color: white;
    line-height: 3;
}

.links-1 {
    margin-left: 70px;
}

.copyright {
    float: right;
    width: fit-content;
    font-size: 0.8rem;
    color: rgba(255,255,255,0.6);
}

@media (max-width: 800px) {
    .hero,.card {
      flex-direction: column;
      text-align: center;
      flex-wrap: wrap;
    }
    .hero-img , .img{
        width: 100%;
        height: auto;
    }
    .left-pane{
        width: 100vw;
    }
    .nav {
        width: 100%;
        padding: 0;
    }
    .hero{
        background-image: url('images/bg-hero-mobile.svg');
        background-repeat: no-repeat;
        background-color: hsl(193, 100%, 96%);
    }
    .cta {
        width: auto;
    }
  }

  input {
      height: 50px;
      width:270px;
      border-style: none;
      margin-right: 30px;
      padding:0;
      border-radius: 5px;
  }

  .sub-btn {
      background-color: #FE52C0;
      color: white;
      border-radius: 5px;
      padding: 13px 10px;
      height: 50px;
      position: relative;
      top: 3px;
  }